@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Commissioner:wght@100..900&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.commissioner-regular {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;
}

.epilogue-medium {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#app-widget {
  width: 545px;
  height: 350px;
  background-color: #303d4f;
  color: #d4ecd4;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

#app-widget h1 {
  font-size: 40px;
  max-width: 545px;
  font-family: "Bungee", sans-serif;
  padding: 0px 20px;
  margin-bottom: 0;
}

p {
  font-family: "Commissioner", sans-serif;
}

.heading {
  text-align: center;
  padding-bottom: 0;
}

.pomodoro-settings {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.options {
  background-color: #b4d6f4;
  color: #2b503e;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  text-wrap: wrap;
  font-family: "Epilogue", sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 0;
  border: none;
}

img {
  width: 30px;
  padding-bottom: 20px;
}
