:root {
  color-scheme: only dark;
  /* color: #303d4f;
  background-color: #d4ecd4; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 545px;
  min-height: 300px;
  max-width: 600px;
  margin: auto;
}

App, Timer {
  width: 545px;
  height: 300px;
}
